body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  .contenedor {
    width: 90%;
    max-width: 1280px;
    margin: auto;
  }
  

  
  .menu {
      background: #0d35b4;
      padding: 9px 20px;
      position: fixed;
      width: 100%;
      top: 0;
      box-shadow: 1px 1px 8px #ccc;
      z-index: 1;
  }
  
  .menu .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    font-size: 23px;
    font-weight: bold;
    color: #000;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  header .contenedor-inicio {
    display: flex;
    justify-content: center;
    margin: 9vh 0;
  }
  
  header .titular, header .imagen {
    width: 40%;
    margin-top: 70px;
  }
  
  header h1 {
    font-family: 'Rubik';
    font-size: 52px;
    color: #fff;
    text-shadow: 1px 2px 50px #000;
  }
  
  header p {
    color: #fff;
    line-height: 30px;
  }
  
  header .imagen img {
    width: 100%;
  }
  
  .imagen{
      margin: 50px;
      display: flex;
      align-content: center;
      justify-content: center;
      background: #298eec;         
      
  }

  .imagen img{
      max-width: 100%;
      max-height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;   
  }
#Portafolio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyecto{
    display: flex;
    justify-content: space-around;
    
}
.proyecto_columna{
  margin: 30px;
  width: 24%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #fff;
  box-shadow: 0px 90px 160px 0px rgba(2, 0, 100, 0.5);
  border-radius: 24px;
  padding: 0 32px;
}

#cerca{
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


.modal_contenido {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100%;
}

#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal_contenido, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}


.cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.cerrar:hover,
.cerrar:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.general{
  display: flex;
  justify-content: space-between;
}

.acerca_de_mi{
  margin: 40px;
  width: 60%;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #298eec;
  box-shadow: 0px 90px 160px 0px rgba(2, 0, 100, 0.5);
  border-radius: 24px;
  padding: 0 32px;
  

}
 
#hermoso{
  border-radius: 24px;
}
.mi_imagen{
  margin: 40px; 
}

.contenedor_bajo{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.habilidad{
  margin: 30px;
  width: 15%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #fff;
  box-shadow: 0px 90px 160px 0px rgba(2, 0, 100, 0.5);
  border-radius: 15px;
  padding: 0 32px;
}


